{% extends "group/about.html" %}

{% if group_dict is not defined%}
    {% set group_dict = c.group_dict %}
{% endif %}


{% block primary_content_inner %}
<dl>
{% for f in c.scheming_fields %}
<dt>{{ h.scheming_language_text(f.label) }}:</dt>
<dd>{%- if group_dict.get(f.field_name) -%}
  {%- snippet 'scheming/snippets/display_field.html',
    field=f, data=group_dict, entity_type='group',
    object_type=group_dict.type -%}
{%- else -%}&nbsp;{%- endif -%}</dd>
{% endfor %}
</dl>
{% endblock %}
